// -*------------------------------------*
// -   Variables fuentes de ícono
// -*------------------------------------*

/**
* Font family: fuentes de ícono
* @nuclide Variables
* @section Settings > Font family
*/

$font-family-ico: "ico-fun-sib" !default;

$i-book: "\e90f";
$i-chevron-down-outline: "\e910";
$i-external: "\e911";
$i-link: "\e912";
$i-plus: "\e913";
$i-quote: "\e914";
$i-services: "\e915";
$i-share: "\e916";
$i-sort: "\e917";
$i-trash: "\e918";
$i-ubication: "\e919";
$i-arrow-down: "\e900";
$i-arrow-left: "\e901";
$i-arrow-right: "\e902";
$i-calendar: "\e903";
$i-chevron-down: "\e904";
$i-close: "\e905";
$i-equis: "\e906";
$i-facebook: "\e907";
$i-filter: "\e908";
$i-front-hand: "\e909";
$i-instagram: "\e90a";
$i-location: "\e90b";
$i-menu: "\e90c";
$i-search: "\e90d";
$i-youtube: "\e90e";
$i-check: "\e91a";
$i-info: "\e91b";

$i-student: "\e923";
$i-activities: "\e91c";
$i-asesor: "\e91d";
$i-az: "\e91e";
$i-bibliography: "\e91f";
$i-desktop: "\e920";
$i-docment-scan: "\e921";
$i-fisic-space: "\e922";
$i-loan: "\e924";
$i-local-information: "\e925";
$i-quimica: "\e926";
$i-read-club: "\e927";
$i-room-consult: "\e928";
$i-user-form: "\e92a";
$i-virtual-consult: "\e92b";
$i-calendar1: "\e929";
$i-clock: "\e92c";
$i-download: "\e92d";
$i-group-persons: "\e92e";
$i-whatsapp: "\e92f";
$i-point: "\e930";