// -*------------------------------------*
// -   Variables fuentes de ícono
// -*------------------------------------*

/**
* Font family: fuentes de ícono
* @nuclide Variables
* @section Settings > Font family
*/

$font-family-ico: "ico-portfolio-aa" !default;
$i-code: "\e900";
$i-close: "\e901";
$i-download: "\e902";
$i-linkedin: "\e903";
$i-menu: "\e904";
$i-email: "\e905";
$i-email-circle: "\e906";
$i-github: "\e907";
