section.c-hero 
  h2.c-hero__subtitle Angelica Aguilar 
  h1.c-hero__title Frontend Developer
  a(href="/" download="mi-archivo.pdf").o-link.o-link_padding.c-hero__link.i-download Curriculum
  picture.c-hero__picture